$teal : #5EE5CB;
$white : #FFFBF2;


.showHub {
  padding: 20px;
}

#map {
  padding-left: 20px;
  height: 500px;
}

body {
  background-color: $white;

  #location {
    width: 40%;
  }
  .btn {
    background-color: $teal;
  }
}

#gitPic {

  img {
  height: 35vh;
  width: auto;
  margin-bottom: 12px;
  }
}

#created {
  text-align: center;
}
#updated {
  text-align: center;
}
